@font-face {
    font-family: ops;
    src: url('../Fonts/OpenSans-Regular.ttf')
}

#wallspate {
    position: relative;
    z-index: 0;
    background-color: #CBD2E1;
    width: 100%;
    height: 1500px;
}

#container {
    position: relative;
    font-size: 0px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0px 0px;
    width: 100%;
}

#topbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70px;
}

#fixwidth {
    width: 1800px;
    margin: 0 auto;
}

#logoPL {
    padding-top: 15px;
    float: left;
}

#logoA {
    margin-top: 5px;
    margin-left: 112px;
}

#logoLupa {
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

#searchbar {
    float: left;
    padding-top: 15px;
    padding-left: 50px;
}

#searchbar input {
    height: 25px;
    width: 350px;
    padding-left: 10px;
    font-size-adjust: initial;
    border: none;
    border-bottom: 2px solid #ccd8f1;
}

#logoMerdim {
    float: right;
    padding-top: 10px;
}

.logof {
    float: right;
    padding-top: 25px;
    margin-right: 23px;
}

#logowall {
    background-image: url("../Imagini/wall.png");
    position: absolute;
    width: 100%;
    height: 400px;
}

#drept {
    position: absolute;
    bottom: 0;
    border-radius: 7px 7px 0px 0px;
    float: left;
    top: 50px;
    left: 25px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 270px;
    height: 350px;
}

#logoMerdiMare {
    position: absolute;
    top: 20px;
    left: 80px;
}

#infobaner {
    font-size: 17px;
    font-family: ops;
    margin-top: 10px;
    margin-left: 10px;
    color: #414337;
}

.bold {
    font-weight: bold;
    margin-left: 20px;
}

p1 {
    line-height: 3;
    font-style: italic;
    margin-left: 0px;
}

p {
    line-height: 5px;
    margin-left: 0px;
}

#bara2 {
    height: 70px;
    width: 100%;
    font-size: 3px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 400px;
}

#infobara2 {
    position: relative;
    z-index: 2;
    margin-left: 0px;
    float: left;
}

#infobara2 li {
    border-bottom: #5973e9;
    padding-top: 10px;
    font-size: 16px;
    font-family: ops;
    color: #414337;
    float: left;
    background-color: rgba(96, 13, 121, 0.0);
    width: 100px;
    height: 60px;
    line-height: 5;
}

ul li a {
    color: #414337;
    display: block;
    line-height: 25px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li a:hover {
    border-bottom: 3px solid #5e82cc;
    color: #5e82cc;
    padding-top: 5px;
    border-collapse: collapse;
}

#pozebara2 {
    float: left;
    padding-left: 0px !important;
    padding-top: 12px;
}

#pozebara2>img {
    padding-left: 35px !important;
}

#box {
    position: relative;
    z-index: 2;
    float: left;
    padding-left: 10px;
    padding-top: 15px;
}

#box>div {
    font-size: 15px;
    border-radius: 2%;
    background-color: #fff;
    float: left;
    padding: 10px;
    margin-left: 15px;
}

#box1 {
    width: 275px;
    height: 500px;
}

#box2 {
    width: 580px;
    height: 500px;
}

#box3 {
    width: 580px;
    height: 500px;
}

#box4 {
    width: 300px;
    height: 350px;
}

#colorblue {
    color: rgb(86, 86, 224);
    padding-left: 10px;
}

.box2poza1 {
    float: left;
}

.box2coment {
    font-family: ops;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.butoane {
    position: none;
    float: right !important;
    margin-left: 250px;
}

p.comciro {
    position: relative;
    float: left;
    font-family: ops;
    margin-left: 8px;
}

.mamaliga {
    float: left;
    border-radius: 50%;
}
#gta {
    float: left;
}
ul>.listabox2 {
    list-style-type: none;
    position: absolute;
    margin-left: 0%;
    font-family: ops;
    line-height: 1.5;
}

li#li1 {
    width: 600px;
    height: 80px;
    font-size: 15px;
}

p.comciro2 {
    position: absolute;
    float: left;
    font-family: ops;
    line-height: 9;
}

ul.listabox2>li#l1 {
    position: right;
    
}

p {
    font-family: ops;
}

p.joc {
    margin-top:35px;
    float: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
ul li {
    display: inline-block;
}
p#see{
    line-height: 200px;
    font-family: ops;
    float:right
}

p#add{
    position: absolute;
    top: 475px;
    margin-left: 1700px;
    font-size: 20px;
    color: red;
    font-weight: 1000;
}